config:
  wide_screen_mode: true
elements:
  - tag: div
    fields:
      - is_short: true
        text:
          tag: lark_md
          content: >-
            **Start time:** {{ .StartTime }}
      - is_short: true
        text:
          tag: lark_md
          content: >-
            **End time:** {{ .EndTime }}
      - is_short: true
        text:
          tag: lark_md
          content: >-
            **Time cost: {{ .TimeCost }}
  - tag: hr
  - tag: markdown
    content: |-
      **Results:**
      - abc: true
      - sdfasf: true
  - actions:
      - tag: button
        text:
          content: View
          tag: plain_text
        type: primary
        multi_url:
          url: "{{ .ViewURL }}"
      - tag: button
        text:
          content: Rerun
          tag: plain_text
        type: danger
        multi_url:
          url: "{{ .RerunURL }}"
    tag: action
header:
  template: {{ .TitleTemplate }}
  title:
    content: {{ .Title }}
    tag: plain_text
