definitions:
  controller.HTTPError:
    properties:
      code:
        type: integer
      message:
        type: string
    type: object
  service.BinArtifact:
    properties:
      component:
        type: string
      ociFile:
        $ref: '#/definitions/service.OciFile'
      platform:
        type: string
      sha256OciFile:
        $ref: '#/definitions/service.OciFile'
      sha256URL:
        type: string
      url:
        type: string
    type: object
  service.BranchCreateReq:
    properties:
      baseVersion:
        type: string
      prod:
        type: string
    type: object
  service.BranchCreateResp:
    properties:
      branch:
        type: string
      branchURL:
        type: string
    type: object
  service.BuildReport:
    properties:
      binaries:
        items:
          $ref: '#/definitions/service.BinArtifact'
        type: array
      gitHash:
        type: string
      images:
        items:
          $ref: '#/definitions/service.ImageArtifact'
        type: array
      pluginGitHash:
        type: string
      printedVersion:
        type: string
    type: object
  service.DevBuild:
    properties:
      id:
        type: integer
      meta:
        $ref: '#/definitions/service.DevBuildMeta'
      spec:
        $ref: '#/definitions/service.DevBuildSpec'
      status:
        $ref: '#/definitions/service.DevBuildStatus'
    type: object
  service.DevBuildMeta:
    properties:
      createdAt:
        type: string
      createdBy:
        type: string
      updatedAt:
        type: string
    type: object
  service.DevBuildSpec:
    properties:
      buildEnv:
        type: string
      builderImg:
        type: string
      edition:
        type: string
      features:
        type: string
      gitHash:
        type: string
      gitRef:
        type: string
      githubRepo:
        type: string
      isHotfix:
        type: boolean
      isPushGCR:
        type: boolean
      pipelineEngine:
        type: string
      platform:
        description: '"linux", "darwin" or "linux/amd64" or "linux/arm64" or "darwin/amd64"
          or "darwin/arm64" or empty for all platforms.'
        type: string
      pluginGitRef:
        type: string
      product:
        type: string
      productBaseImg:
        type: string
      productDockerfile:
        type: string
      targetImg:
        type: string
      version:
        type: string
    type: object
  service.DevBuildStatus:
    properties:
      buildReport:
        $ref: '#/definitions/service.BuildReport'
      errMsg:
        type: string
      pipelineBuildID:
        type: integer
      pipelineEndAt:
        type: string
      pipelineStartAt:
        type: string
      pipelineViewURL:
        type: string
      pipelineViewURLs:
        items:
          type: string
        type: array
      status:
        type: string
      tektonStatus:
        $ref: '#/definitions/service.TektonStatus'
    type: object
  service.ImageArtifact:
    properties:
      internal_url:
        type: string
      platform:
        type: string
      url:
        type: string
    type: object
  service.ImageSyncRequest:
    properties:
      source:
        type: string
      target:
        type: string
    type: object
  service.OciArtifact:
    properties:
      files:
        items:
          type: string
        type: array
      repo:
        type: string
      tag:
        type: string
    type: object
  service.OciFile:
    properties:
      file:
        type: string
      repo:
        type: string
      tag:
        type: string
    type: object
  service.TagCreateReq:
    properties:
      branch:
        type: string
      prod:
        type: string
    type: object
  service.TagCreateResp:
    properties:
      tag:
        type: string
      tagURL:
        type: string
    type: object
  service.TektonPipeline:
    properties:
      endAt:
        type: string
      gitHash:
        type: string
      images:
        items:
          $ref: '#/definitions/service.ImageArtifact'
        type: array
      name:
        type: string
      ociArtifacts:
        items:
          $ref: '#/definitions/service.OciArtifact'
        type: array
      platform:
        type: string
      startAt:
        type: string
      status:
        type: string
      url:
        type: string
    type: object
  service.TektonStatus:
    properties:
      pipelines:
        items:
          $ref: '#/definitions/service.TektonPipeline'
        type: array
    type: object
  service.TidbXHotfixTagCreateReq:
    properties:
      author:
        type: string
      branch:
        type: string
      commit:
        type: string
      repo:
        type: string
    required:
    - author
    - repo
    type: object
  service.TidbXHotfixTagCreateResp:
    properties:
      commit:
        type: string
      repo:
        type: string
      tag:
        type: string
    type: object
info:
  contact: {}
paths:
  /api/artifact/sync-image:
    post:
      consumes:
      - application/json
      description: sync
      parameters:
      - description: image sync to public, only hotfix is accepted right now
        in: body
        name: ImageSyncRequest
        required: true
        schema:
          $ref: '#/definitions/service.ImageSyncRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/service.ImageSyncRequest'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controller.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/controller.HTTPError'
      summary: sync hotfix image to dockerhub
      tags:
      - artifact
  /api/devbuilds:
    get:
      description: list devbuild
      parameters:
      - default: 10
        description: the size limit of items
        in: query
        name: size
        type: integer
      - default: 0
        description: the start position of items
        in: query
        name: offset
        type: integer
      - description: filter hotfix
        in: query
        name: hotfix
        type: boolean
      - description: filter created by
        in: query
        name: createdBy
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/service.DevBuild'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controller.HTTPError'
      summary: list devbuild
      tags:
      - devbuild
    post:
      consumes:
      - application/json
      description: create and trigger devbuild
      parameters:
      - description: build to create, only spec filed is required, others are ignored
        in: body
        name: DevBuild
        required: true
        schema:
          $ref: '#/definitions/service.DevBuild'
      - default: false
        description: dry run
        in: query
        name: dryrun
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/service.DevBuild'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controller.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/controller.HTTPError'
      summary: create and trigger devbuild
      tags:
      - devbuild
  /api/devbuilds/{id}:
    get:
      description: get devbuild
      parameters:
      - description: id of build
        in: path
        name: id
        required: true
        type: integer
      - default: false
        description: whether sync with jenkins
        in: query
        name: sync
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/service.DevBuild'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controller.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/controller.HTTPError'
      summary: get devbuild
      tags:
      - devbuild
    put:
      consumes:
      - application/json
      description: update the status field of a build
      parameters:
      - description: id of build
        in: path
        name: id
        required: true
        type: integer
      - description: build to update
        in: body
        name: DevBuild
        required: true
        schema:
          $ref: '#/definitions/service.DevBuild'
      - default: false
        description: dry run
        in: query
        name: dryrun
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/service.DevBuild'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controller.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/controller.HTTPError'
      summary: update devbuild status
      tags:
      - devbuild
  /api/devbuilds/{id}/rerun:
    post:
      description: rerun devbuild
      parameters:
      - description: id of build
        in: path
        name: id
        required: true
        type: integer
      - default: false
        description: dry run
        in: query
        name: dryrun
        type: boolean
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/service.DevBuild'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controller.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/controller.HTTPError'
      summary: rerun devbuild
      tags:
      - devbuild
  /api/hotfix/create-tidb-x-tag:
    post:
      consumes:
      - application/json
      description: create tidb-x hotfix git tag with auto-incremented tag name (vX.Y.Z-nextgen.YYYYMM.N)
      parameters:
      - description: tidb-x hotfix tag param
        in: body
        name: TidbXHotfixTagCreateReq
        required: true
        schema:
          $ref: '#/definitions/service.TidbXHotfixTagCreateReq'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/service.TidbXHotfixTagCreateResp'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/controller.HTTPError'
        "422":
          description: Unprocessable Entity
          schema:
            $ref: '#/definitions/controller.HTTPError'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/controller.HTTPError'
      summary: create tidb-x hotfix tag
      tags:
      - hotfix
swagger: "2.0"
