openapi: 3.0.3
info:
    title: Download OCI artifacts Service
    description: Service for downloading files from OCI artifact
    version: 0.0.1
servers:
    - url: http://localhost:8000
paths:
    /oci-file-sha256/{repository}:
        get:
            tags:
                - oci
            summary: download-file-sha256 oci
            operationId: oci#download-file-sha256
            parameters:
                - name: file
                  in: query
                  description: file name in OCI artifact
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: file name in OCI artifact
                    example: Debitis nostrum maiores est.
                  example: Eligendi aut vero et neque odit.
                - name: tag
                  in: query
                  description: OCI artifact tag
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: OCI artifact tag
                    example: At aperiam laboriosam odio ut quam.
                  example: Assumenda aliquam est et aut.
                - name: repository
                  in: path
                  description: OCI artifact repository
                  required: true
                  schema:
                    type: string
                    description: OCI artifact repository
                    example: Magnam a corporis.
                  example: Sed nihil autem dolor blanditiis accusamus sit.
            responses:
                "200":
                    description: OK response.
                    headers:
                        Content-Disposition:
                            description: Content-Disposition header for downloading
                            schema:
                                type: string
                                description: Content-Disposition header for downloading
                                example: attachment; filename*=UTF-8''tidb-v7.5.0-darwin-arm64.tar.gz.sha256
                            example: attachment; filename*=UTF-8''tidb-v7.5.0-darwin-arm64.tar.gz.sha256
                        Content-Length:
                            description: Length is the downloaded content length in bytes.
                            schema:
                                type: integer
                                description: Length is the downloaded content length in bytes.
                                example: 4194304
                                format: int64
                            example: 4194304
                    content:
                        application/plain-text:
                            schema:
                                type: string
                                format: binary
    /oci-file/{repository}:
        get:
            tags:
                - oci
            summary: download-file oci
            operationId: oci#download-file
            parameters:
                - name: tag
                  in: query
                  description: OCI artifact tag
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: OCI artifact tag
                    example: v8.1.0_darwin_arm64
                  example: v8.1.0_darwin_arm64
                - name: file
                  in: query
                  description: file name in OCI artifact
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: file name in OCI artifact
                    example: tidb-v7.5.0-darwin-arm64.tar.gz
                  example: tidb-v7.5.0-darwin-arm64.tar.gz
                - name: file_regex
                  in: query
                  description: file name regex pattern in OCI artifact
                  allowEmptyValue: true
                  schema:
                    type: string
                    description: file name regex pattern in OCI artifact
                    example: tidb-.+[.]tar[.]gz
                    format: regexp
                  example: tidb-.+[.]tar[.]gz
                - name: repository
                  in: path
                  description: OCI artifact repository
                  required: true
                  schema:
                    type: string
                    description: OCI artifact repository
                    example: hub.pingcap.net/pingcap/tidb/package
                  example: hub.pingcap.net/pingcap/tidb/package
            responses:
                "200":
                    description: OK response.
                    headers:
                        Content-Disposition:
                            description: Content-Disposition header for downloading
                            schema:
                                type: string
                                description: Content-Disposition header for downloading
                                example: attachment; filename*=UTF-8''tidb-v7.5.0-darwin-arm64.tar.gz
                            example: attachment; filename*=UTF-8''tidb-v7.5.0-darwin-arm64.tar.gz
                        Content-Length:
                            description: Length is the downloaded content length in bytes.
                            schema:
                                type: integer
                                description: Length is the downloaded content length in bytes.
                                example: 4194304
                                format: int64
                            example: 4194304
                    content:
                        application/octet-stream:
                            schema:
                                type: string
                                format: binary
    /oci-files/{repository}:
        get:
            tags:
                - oci
            summary: list-files oci
            operationId: oci#list-files
            parameters:
                - name: tag
                  in: query
                  description: OCI artifact tag
                  allowEmptyValue: true
                  required: true
                  schema:
                    type: string
                    description: OCI artifact tag
                    example: Recusandae dolor voluptas omnis ex.
                  example: Dolor itaque ullam.
                - name: repository
                  in: path
                  description: OCI artifact repository
                  required: true
                  schema:
                    type: string
                    description: OCI artifact repository
                    example: Repellendus id dolorem dolor quasi qui consectetur.
                  example: Et et fugit.
            responses:
                "200":
                    description: OK response.
                    content:
                        application/json:
                            schema:
                                type: array
                                items:
                                    type: string
                                    example: Voluptatem incidunt qui.
                                example:
                                    - Quaerat nulla repudiandae magnam.
                                    - Nobis asperiores at non dignissimos error.
                                    - Repellendus iste nam.
                            example:
                                - Aperiam sunt quam et asperiores cupiditate deserunt.
                                - Et qui quo.
                                - Fugiat tempore sapiente dolorem et laborum impedit.
                                - Vero dolores amet possimus quasi libero nesciunt.
    /s3-obj/{bucket}/{key}:
        get:
            tags:
                - ks3
            summary: download-object ks3
            operationId: ks3#download-object
            parameters:
                - name: bucket
                  in: path
                  description: bucket name
                  required: true
                  schema:
                    type: string
                    description: bucket name
                    example: Neque sunt ut repellendus.
                  example: Quaerat architecto.
                - name: key
                  in: path
                  description: object key
                  required: true
                  schema:
                    type: string
                    description: object key
                    example: Id et sit expedita.
                  example: Vero voluptatum perspiciatis omnis qui vel.
            responses:
                "200":
                    description: OK response.
                    headers:
                        Content-Disposition:
                            description: Content-Disposition header for downloading
                            schema:
                                type: string
                                description: Content-Disposition header for downloading
                                example: attachment; filename*=UTF-8''tidb-v7.5.0-darwin-arm64.tar.gz
                            example: attachment; filename*=UTF-8''tidb-v7.5.0-darwin-arm64.tar.gz
                        Content-Length:
                            description: Length is the downloaded content length in bytes.
                            schema:
                                type: integer
                                description: Length is the downloaded content length in bytes.
                                example: 4194304
                                format: int64
                            example: 4194304
                    content:
                        application/octet-stream:
                            schema:
                                type: string
                                format: binary
components: {}
tags:
    - name: oci
      description: OCI artifacts download service
    - name: ks3
      description: OCI artifacts download service
