config:
  wide_screen_mode: true
elements:
  - tag: markdown
    content: |-
      **🧑‍💻{{.UserEmail}} trigger command `{{.Command}}` with args:**
      {{ range .Args }}
      - {{ . }}
      {{ end }}
  - tag: hr
  {{ with .Result }}
  - tag: markdown
    content: |
      **📃Command result:**

      {{ . | trim | indent 6 }}
  - tag: hr
  {{ end }}
  - tag: note
    elements:
      - tag: plain_text
        content: "EE ChatOps Bot developed by EE team"
header:
  template: turquoise
  title:
    content: {{ .Title | default "chatbot audit message" }}
    tag: plain_text
