---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - build.tibuild.pingcap.net
  resources:
  - macbuilds
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - build.tibuild.pingcap.net
  resources:
  - macbuilds/finalizers
  verbs:
  - update
- apiGroups:
  - build.tibuild.pingcap.net
  resources:
  - macbuilds/status
  verbs:
  - get
  - patch
  - update
