name: mac-builder-operator
permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/ci-mac-builder-operator.yml
      - mac-builder-operator/**

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: mac-builder-operator/go.mod
          cache-dependency-path: mac-builder-operator/go.sum

      - name: Run linter
        uses: golangci/golangci-lint-action@v8
        with:
          working-directory: mac-builder-operator
          version: v2.4.0
  test:
    name: Unit-Test
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: mac-builder-operator/go.mod
          cache-dependency-path: mac-builder-operator/go.sum

      - name: Running Tests
        working-directory: mac-builder-operator
        run: |
          go mod tidy
          make test
  test-e2e:
    name: E2E-Test
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Clone the code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: mac-builder-operator/go.mod
          cache-dependency-path: mac-builder-operator/go.sum

      - name: Install the latest version of kind
        run: |
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin/kind

      - name: Verify kind installation
        run: kind version

      - name: Running Test e2e
        working-directory: mac-builder-operator
        run: |
          go mod tidy
          make test-e2e
