# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Skaffold - test
on:
  pull_request:
    branches:
      - main
    paths:
      - .github/workflows/release.yml
      - "**/Dockerfile"
      - "**/*.go"
      - "**/*.gomod"
      - "**/*.js"
      - "**/package.json"
      - "**/package-lock.json"
env:
  SKAFFOLD_VER: v2.17.0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Skaffold Build
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    strategy:
      matrix:
        platform: [linux/amd64]

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with: # we need it for skaffold build
          fetch-depth: "0"
          fetch-tags: "true"

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            cloudevents-server:
              - 'cloudevents-server/**'
            tibuild:
              - 'tibuild/**'
            dl:
              - 'dl/**'
            publisher:
              - 'publisher/**'
            chatops:
              - 'chatops-lark/**'

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:v0.12.4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup skaffold
        run: |
          platform="$(uname -s | tr '[:upper:]' '[:lower:]')-$(uname -m)"
          curl -Lo skaffold "https://storage.googleapis.com/skaffold/releases/$SKAFFOLD_VER/skaffold-$platform" && \
          sudo install skaffold /usr/local/bin/

      - name: Build image - cloudevents-server
        if: steps.changes.outputs.cloudevents-server == 'true'
        working-directory: cloudevents-server
        run: |
          skaffold build \
            --push=false \
            --platform ${{ matrix.platform }} \
            --default-repo ghcr.io/pingcap-qe/ee-apps
      - name: Build image - tibuild
        if: steps.changes.outputs.tibuild == 'true'
        working-directory: tibuild
        run: |
          skaffold build \
            --push=false \
            --platform ${{ matrix.platform }} \
            --default-repo ghcr.io/pingcap-qe/ee-apps

      - name: Build image - dl
        if: steps.changes.outputs.dl == 'true'
        working-directory: dl
        run: |
          skaffold build \
            --push=false \
            --platform ${{ matrix.platform }} \
            --default-repo ghcr.io/pingcap-qe/ee-apps
      - name: Build image - publisher
        if: steps.changes.outputs.publisher == 'true'
        working-directory: publisher
        run: |
          skaffold build \
            --push=false \
            --platform ${{ matrix.platform }} \
            --default-repo ghcr.io/pingcap-qe/ee-apps
      - name: Build image - chatops-lark
        if: steps.changes.outputs.chatops == 'true'
        working-directory: chatops-lark
        run: |
          skaffold build \
            --push=false \
            --platform ${{ matrix.platform }} \
            --default-repo ghcr.io/pingcap-qe/ee-apps
