# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Skaffold - release
on:
  workflow_dispatch:
  push:
    tags:
      - v*
    branches:
      - main
    paths:
      - .github/workflows/release.yml
      - "**/Dockerfile"
      - "**/*.go"
      - "**/*.gomod"
      - "**/*.js"
      - "**/package.json"
      - "**/package-lock.json"

env:
  SKAFFOLD_VER: v2.17.0

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  build:
    name: Skaffold Build
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
        with: # we need it for skaffold build
          fetch-depth: "0"
          fetch-tags: "true"

      - uses: dorny/paths-filter@v3
        id: changes
        with:
          filters: |
            cloudevents-server:
              - 'cloudevents-server/**'
            tibuild:
              - 'tibuild/**'
            tibuild-v2:
              - 'experiments/tibuild-v2/**'
            dl:
              - 'dl/**'
            publisher:
              - 'publisher/**'
            chatops:
              - 'chatops-lark/**'

      # https://github.com/docker/setup-qemu-action
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      # https://github.com/docker/setup-buildx-action
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver-opts: |
            image=moby/buildkit:v0.12.4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup skaffold
        run: |
          curl -Lo skaffold "https://storage.googleapis.com/skaffold/releases/$SKAFFOLD_VER/skaffold-linux-amd64" && \
          sudo install skaffold /usr/local/bin/
          rm -rf skaffold

      - name: Publish image - cloudevents-server
        if: steps.changes.outputs.cloudevents-server == 'true'
        working-directory: cloudevents-server
        run: |
          skaffold build --default-repo ghcr.io/pingcap-qe/ee-apps
      - name: Publish image - tibuild
        if: steps.changes.outputs.tibuild == 'true'
        working-directory: tibuild
        run: |
          skaffold build --default-repo ghcr.io/pingcap-qe/ee-apps
      - name: Publish image - tibuild-v2
        if: steps.changes.outputs.tibuild-v2 == 'true'
        working-directory: experiments/tibuild-v2
        run: |
          skaffold build --default-repo ghcr.io/pingcap-qe/ee-apps
      - name: Publish image - dl
        if: steps.changes.outputs.dl == 'true'
        working-directory: dl
        run: |
          skaffold build --default-repo ghcr.io/pingcap-qe/ee-apps
      - name: Publish image - publisher
        if: steps.changes.outputs.publisher == 'true'
        working-directory: publisher
        run: |
          skaffold build --default-repo ghcr.io/pingcap-qe/ee-apps
      - name: Publish image - chatops-lark
        if: steps.changes.outputs.chatops == 'true'
        working-directory: chatops-lark
        run: |
          skaffold build --default-repo ghcr.io/pingcap-qe/ee-apps
